html, body {
  margin: none;
  padding: none;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #212121;
}

body {
  font-family: "Helvetica", "Arial", "Sans-Sarif";
}

.main {
  background-color: white;
  width: 60%;
  height: 100%;
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  /* opacity: .5; */
}

.hero-image {
  background-image: url('../assets/vhs-hero.gif');
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navcontainer {
  position: absolute;
  margin: 1em;
  bottom: 0;
  width: auto;
  opacity: .85;
}

.nav {
  overflow: hidden;
  background-color: #212121;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-size: 15px;
  transition: all .2s ease-in-out;
  background-color: #111;
}

.nav a:hover {
  background-color: #212121;
  color: yellow;
  transform: scale(1.1);
}

a.reg {
  background-color: red;
  font-weight: bold;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: inherit;
  background-image: url('');
  background-size: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
}
