html, body {
  margin: none;
  padding: none;
  border: none;
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: #212121;
}

body {
  font-family: "Helvetica", "Arial", "Sans-Sarif";
}

.main {
  background-color: white;
  width: 80%;
  min-height: 100%
  height: auto;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.hero-image {
  background-image: url('../assets/vhs-hero.gif');
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1.hero-text {
  color: white;
  text-align: left;
  font-size: 3em;
  margin-bottom: 0em;
}

.navcontainer {
  position: absolute;
  margin: 1em;
  bottom: 0;
  width: auto;
}

.nav {
  overflow: hidden;
  background-color: #212121;
  opacity: .85;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-size: 1em;
  transition: all .2s ease-in-out;
  background-color: #212121;
}

.nav a:hover {
  background-color: inherit;
  color: yellow;
  transform: scale(1.1);
}

a.reg {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  /* background-color: orange; */
  text-align: left;
  margin: 0em 2em 0em;
  padding: 2em 2em 2em;
  border-bottom: solid 1px #212121;
}

footer.content {
  align-self: flex-end;
  color: #212121;
  border: none;
}

/* particle container */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  width: 100%;
  height: auto;

  background-color: inherit;
  background-image: url('');
  background-size: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .navcontainer {
    display: none;
  }

  .hero-image {
    min-height: 200px;
  }
}

/* itty bitty mobile */
@media only screen and (max-width: 400px) {
  .navcontainer {
    display: none;
  }

  .hero-image {
    min-height: 150px;
  }
}

/* widescreen */
@media only screen and (min-width: 1200px) {
  .main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .nav a {
    font-size: 20px;
  }

  h1.hero-text {
    font-size: 4em;
  }
}
